<!-- HEADER AND NAVBAR -->
<ul class="nav nav-tabs">
    <li  ng-class="{ active: isActive('/Home') }"><a href="#!Home" >{{lang.topMenu.home}}</a></li>
    <li ng-class="{ active: isActive('/GameList') }"><a href="#!GameList">{{lang.topMenu.game}}</a></li>
    <!-- li ng-class="{ active: isActive('/Shop') }" ><a href="#!Shop">상점</a></li -->
    <li ng-class="{ active: isActive('/MyPublicGames') }"><a href="#!MyPublicGames">{{lang.topMenu.mysGame}}</a></li>
    <li ng-class="{ active: isActive('/Adver') }" ><a href="#!Adver">{{lang.topMenu.adward}}</a></li>
</ul>
