<div class="topempty-game"></div>
<script type="text/ng-template"  id="tree_item_renderer_playgame.html">
    <div class="panel-heading" ng-if="data.header">
        <span class="glyphicon glyphicon glyphicon-user" ></span>
        [{{data.header.gameID}}] {{data.header.memberNick_left}} {{lang.handGame.titie1}}:<strong>{{data.header.gameMoneyAmount}}</strong> {{lang.commGame.totalGame}}:{{data.header.gameCount}}
        <div>
            <img id="gamehandicon" ng-src={{$ctrl.userInfo[data.header.memberNick_left].PicUrl}} />
            <strong>{{lang.commGame.reqmsg}}:{{data.header.gameMemo_left}}</strong>
        </div>
        <p ng-if="isShareGame==false"><button ng-if="data.header.isJoinGame" type="button" class="btn btn-primary" ng-click="JoinGame(data.header.gameID)">{{lang.dic.req}}</button></p>
        <p ng-if="isShareGame==true"><a id="share-link" href="/PublicDetail/{{data.header.gameID}}/{{lang.langcode}}">{{lang.commGame.sharelink}}</a></p>

    </div>
    <div ng-if="data.gameID" ng-init="avatarNO=leadingZeros(data.subGameID+2,2)">
        <div>
            <img ng-if="isShareGame==false" id="gamehandicon" ng-src={{$ctrl.userInfo[data.memberNick_right].PicUrl}} />
            <img ng-if="isShareGame==true" id="gamehandicon" ng-src="img/avatar/default/avartar_{{avatarNO}}.png" />
            <div style="display: inline;">
                {{data.memberNick_right}}
            </div>
            <div style="border: 1px solid red;border-radius: 5px;width: 250px;margin-left: 60px;padding: 10px;">
                <div ng-if="data.memberID_right==data.winnerID" class="wincircle" >
                    {{lang.dic_s.win}}
                </div>

                <div ng-if="data.memberID_left==data.winnerID" class="losecircle" >
                    {{lang.dic_s.lose}}
                </div>

                <div ng-if="data.winnerID==0" class="samecircle" >
                    {{lang.dic_s.nowin}}
                </div>
                <div >
                    {{data.gameMemo_right}}
                </div>

                <div  id="layoutleft" ng-switch="" on={{data.gameFlag_right1}}>
                    <div ng-switch-when="0">
                        <img style="border: 2px solid red;border-radius: 5px;" id="gamehandicon" src="/img/game/lefthand_0.png" />
                    </div>
                    <div ng-switch-when="1">
                        <img style="border: 2px solid red;border-radius: 5px;" id="gamehandicon" src="/img/game/lefthand_1.png" />
                    </div>
                    <div ng-switch-when="2">
                        <img style="border: 2px solid red;border-radius: 5px;" id="gamehandicon" src="/img/game/lefthand_2.png" />
                    </div>
                </div>

                <div id="layoutleftXX" ng-switch="" on={{data.gameFlag_left1}}>
                    <div ng-switch-when="0">
                        <img id="gamehandicon" src="/img/game/righthand_0.png" />
                    </div>
                    <div ng-switch-when="1">
                        <img id="gamehandicon" src="/img/game/righthand_1.png" />
                    </div>
                    <div ng-switch-when="2">
                        <img id="gamehandicon" src="/img/game/righthand_2.png" />
                    </div>
                </div>

                <div ng-if="data.memberID_right==data.winnerID">
                    +{{data.earnPoint}}Point
                </div>

                <div ng-if="data.memberID_left==data.winnerID">
                    -{{data.earnPoint}}Point
                </div>
            </div>
        </div>
    </div>
    <!--div><button ng-if="data.isJoinGame" type="button" class="btn btn-primary" ng-click="JoinGame(data.gameID)">도전</button></div-->
    <div class="panel-body"  ng-repeat="data in data.list" ng-include="'tree_item_renderer_playgame.html'"></div>
</script>

<div class="btn-group">
    <button type="button" class="btn btn-danger" ng-click="CreateGame()">{{lang.dic.createGame}}</button>
</div>

<div class="panel panel-info">
    <div class="panel-heading" >
        {{lang.handGame.gamehow1}}
    </div>
    <div class="panel-body">
        <div class="panel panel-info" ng-repeat="data in $ctrl.PlayGameList" ng-include="'tree_item_renderer_playgame.html'">{{data.header.gameID}}</div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading" >
        {{lang.handGame.gamehow2}}
    </div>
    <div class="panel-body">
        <div class="panel panel-default" ng-repeat="data in $ctrl.PlayCompleteList" ng-include="'tree_item_renderer_playgame.html'">{{data.header.gameID}}</div>
    </div>
</div>


<div id="popup-container" ng-if="isShowDodal">
    <div id="exampleModal" class="reveal-modal">
        <div class="alert alert-danger" role="alert" ng-if="errorvisibility"> {{$ctrl.errmsg}} </div>
        <div ng-switch="" on="dlgType">
            <!-- CreateGame -->
            <div ng-switch-when=1>
                <div class="alert alert-success" role="alert" >{{lang.handGame.gamehow3}}</div>
                <div ng-if="isShareGame==true" class="alert alert-success" role="alert" >
                    <p>{{lang.handGame.gamehow3_s1}}</p>
                    <p>{{lang.handGame.gamehow3_s2}}</p>
                </div>
                <div ng-if="isShareGame==false" class="alert alert-success" role="alert" >
                    <p>{{lang.handGame.gamehow4}}</p>
                    <p>{{lang.handGame.gamehow5}}</p>
                </div>
                <form name="form">
                    <div class="form-group" >
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">{{lang.commGame.writemsg}}</span>
                            <input name='gamememo1' type="text" class="form-control" placeholder="{{lang.api.required}}" aria-describedby="basic-addon1" ng-model="gamememo1" required>
                        </div>
                    </div>

                    <div class="form-group" >
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">{{lang.dic.betamount}}</span>
                            <input name='betMount' type="number"  class="form-control" placeholder="1 ~ 1000" aria-describedby="basic-addon1" ng-model="betMount" >
                        </div>
                    </div>

                    <div class="form-group" >
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">{{lang.dic.gameCount}}</span>
                            <input name='gameCount' type="number"  class="form-control" placeholder="1 ~ 5" aria-describedby="basic-addon1" ng-model="gameCount" >
                        </div>
                    </div>

                    <div class="form-group" >
                        <label>
                            <input type="radio" ng-model="lhand.name" value="0" checked="checked"/>
                            <img id="gamehandicon" src="/img/game/lefthand_0.png"/>
                        </label>
                        <label>
                            <input type="radio" ng-model="lhand.name" value="1" />
                            <img id="gamehandicon" src="/img/game/lefthand_1.png"/>
                        </label>
                        <label>
                            <input type="radio" ng-model="lhand.name" value="2"/>
                            <img id="gamehandicon" src="/img/game/lefthand_2.png"/>
                        </label>
                    </div>


                    <div id="footfix">
                        <button  ng-disabled="dataLoading || form.$valid==false" type="button" class="btn btn-primary" ng-click="CloseDlg(this)">{{lang.dic.createGame}}</button>
                        <button  type="button" class="btn btn-primary" ng-click="CancelDlg()">{{lang.dic.close}}</button>
                    </div>

                </form>

            </div>

            <!-- JoinGame -->
            <div ng-switch-when=2>
                <div class="alert alert-success" role="alert" >{{lang.handGame.gamehow6}}
                    <p>{{lang.handGame.gamehow7}}</p>
                    <ol>
                        <li>{{lang.handGame.gamehow8}}</li>
                        <li>{{lang.handGame.gamehow9}}</li>
                        <li>{{lang.handGame.gamehow10}}</li>
                    </ol>
                </div>
                <form name="form">
                    <div class="form-group">
                        <label>
                            <input type="radio" ng-model="rhand.name" value="0" checked="checked"/>
                            <img id="gamehandicon" src="/img/game/lefthand_0.png"/>
                        </label>
                        <label>
                            <input type="radio" ng-model="rhand.name" value="1" >
                            <img id="gamehandicon" src="/img/game/lefthand_1.png"/>
                        </label>
                        <label>
                            <input type="radio" ng-model="rhand.name" value="2"/>
                            <img id="gamehandicon" src="/img/game/lefthand_2.png"/>
                        </label>
                    </div>

                    <div class="form-group" >
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">{{lang.commGame.vsmsg}}</span>
                            <input name='gamememo2' type="text" class="form-control" placeholder="{{lang.api.required}}" aria-describedby="basic-addon1" ng-model="gamememo2" required>
                        </div>
                    </div>

                    <div id="footfix">
                        <button ng-disabled="dataLoading || form.$valid==false" type="button" class="btn btn-primary" ng-click="CloseDlg(this)">{{lang.dic.progressGame}}</button>
                        <button type="button" class="btn btn-primary" ng-click="CancelDlg()">{{lang.dic.close}}</button>
                    </div>

                </form>
            </div>

            <div ng-if="resultShow" id="gameResult" ng-if="resultShow">
            <div id="layoutleft" ng-switch="" on={{resultRight}}>
                <div ng-switch-when="0">
                    <img id="gamehandicon" src="/img/game/lefthand_0.png" />
                </div>
                <div ng-switch-when="1">
                    <img id="gamehandicon" src="/img/game/lefthand_1.png" />
                </div>
                <div ng-switch-when="2">
                    <img id="gamehandicon" src="/img/game/lefthand_2.png" />
                </div>
            </div>

            <div id="layoutleft" ng-switch="" on={{resultLeft}}>
                <div ng-switch-when="0">
                    <img id="gamehandicon" src="/img/game/righthand_0.png" />
                </div>
                <div ng-switch-when="1">
                    <img id="gamehandicon" src="/img/game/righthand_1.png" />
                </div>
                <div ng-switch-when="2">
                    <img id="gamehandicon" src="/img/game/righthand_2.png" />
                </div>
            </div>
                <div class="alert alert-danger" role="alert" >{{resultMsg}}</div>
            </div>

        </div>

        <img  ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

    </div>
</div>







