<div class="topempty-game"></div>
<script type="text/ng-template"  id="tree_item_renderer_indianholdemplaygame.html">
    <div class="panel-heading" ng-if="data.header">
        <span class="glyphicon glyphicon glyphicon-user" ></span>
        [{{data.header.gameID}}] {{data.header.creatorNick}} {{lang.indianHGame.title1}}:<strong>{{data.header.gameMoneyAmount}}</strong> {{lang.commGame.totalGame}}:{{data.header.gameCount}}
        <div><img id="gamehandicon" ng-src={{data.header.creatorAvatar}} /><strong>{{lang.commGame.writemsg}}:{{data.header.gameTitle}}</strong></div>
        <div>
            <div >
                <img id="gameCardIcon" ng-src="/img/carddeck/images/{{data.header.comcard1}}.png" />
                <img id="gameCardIcon" ng-src="/img/carddeck/images/{{data.header.comcard2}}.png" />
                <p>({{lang.indianHGame.commcard}})</p>
            </div>
            <div id="layoutleft">
            </div>
        </div>
        <div ng-if="isShareGame == false">
        <button ng-if="data.header.gameState == 0" type="button" class="btn btn-primary" ng-click="JoinGame(data.header)">{{lang.dic.req}}</button>
        </div>

        <div ng-if="isShareGame == true">
            <p><a id="share-link" href="/PublicIholdemDetail/{{data.header.gameID}}/{{lang.langcode}}">{{lang.commGame.sharelink}}</a></p>
        </div>

    </div>
    <div ng-if="data.gameID">
        <div>
            <img id="gamehandicon" ng-src={{data.joinerAvatar}} ng-init="actionName=GetActionName(data.action)" />
            <div style="display: inline;">
                {{data.joinerNick}}
            </div>
            <div style="border: 1px solid red;border-radius: 5px;width: 250px;margin-left: 60px;padding: 10px;">
                <div ng-if="data.joinerID==data.winnerID" class="wincircle" >
                    {{lang.dic_s.win}}
                </div>

                <div ng-if="data.creatorID==data.winnerID" class="losecircle" >
                    {{lang.dic_s.lose}}
                </div>

                <div ng-if="data.winnerID==0" class="samecircle" >
                    {{lang.dic_s.nowin}}
                </div>

                <div >
                    {{data.joinerMemo}}
                </div>
                <div>
                    <img style="border: 2px solid red;border-radius: 5px;" id="gameCardIcon" ng-src="/img/carddeck/images/{{data.joinercard}}.png" /> VS
                    <img id="gameCardIcon" ng-src="/img/carddeck/images/{{data.cratorcard}}.png" />
                </div>

                <div ng-if="data.joinerID==data.winnerID">
                    {{actionName}}(+{{data.earnPoint}}Point)
                </div>

                <div ng-if="data.creatorID==data.winnerID">
                    {{actionName}}(-{{data.earnPoint}}Point)
                </div>
                <div>
                    {{lang.indianHGame.challenger}}:{{data.joinerHandStr}}
                </div>
                <div>
                    {{lang.indianHGame.dealer}}:{{data.creatorHandStr}}
                </div>

            </div>

        </div>


    </div>
    <!--div><button ng-if="data.isJoinGame" type="button" class="btn btn-primary" ng-click="JoinGame(data.gameID)">도전</button></div-->
    <div class="panel-body"  ng-repeat="data in data.list" ng-include="'tree_item_renderer_indianholdemplaygame.html'"></div>
</script>

<div class="btn-group">
    <button type="button" class="btn btn-danger" ng-click="OnCreateGame()">{{lang.dic.createGame}}</button>
</div>


<div class="panel panel-info">
    <div class="panel-heading" >
        {{lang.indianHGame.gamehow1}}
    </div>
    <div class="panel-body">
        <div class="panel panel-info" ng-repeat="data in $ctrl.PlayGameList" ng-include="'tree_item_renderer_indianholdemplaygame.html'">{{data.header.gameID}}</div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading" >
        {{lang.indianHGame.gamehow2}}
    </div>
    <div class="panel-body">
        <div class="panel panel-default" ng-repeat="data in $ctrl.PlayCompleteList" ng-include="'tree_item_renderer_indianholdemplaygame.html'">{{data.header.gameID}}</div>
    </div>
</div>


<div id="popup-container" ng-if="isShowDodal">
    <div id="exampleModal" class="reveal-modal">
        <div class="alert alert-danger" role="alert" ng-if="errorvisibility"> {{$ctrl.errmsg}} </div>
        <div ng-switch="" on="dlgType">
            <!-- CreateGame -->
            <div ng-switch-when=0>
                <div ng-if="isShareGame==false" class="alert alert-success" role="alert" >{{lang.indianHGame.gamehow3}}</div>
                <div ng-if="isShareGame==true" class="alert alert-success" role="alert" >
                    <p>{{lang.indianHGame.gamehow3_s1}}</p>
                    <p>{{lang.indianHGame.gamehow3_s2}}</p>
                </div>
                <form name="form">
                    <div class="form-group" >
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">{{lang.commGame.writemsg}}</span>
                            <input name='gamememo1' type="text" class="form-control" placeholder="{{lang.api.required}}" aria-describedby="basic-addon1" ng-model="gamememo1" required>
                        </div>
                    </div>

                    <div class="form-group" >
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">{{lang.dic.betamount}}</span>
                            <input name='betMount' type="number"  class="form-control" placeholder="1 ~ 1000" aria-describedby="basic-addon1" ng-model="betMount" >
                        </div>
                    </div>

                    <div class="form-group" >
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">{{lang.dic.gameCount}}</span>
                            <input name='gameCount' type="number"  class="form-control" placeholder="1 ~ 5" aria-describedby="basic-addon1" ng-model="gameCount" >
                        </div>
                    </div>

                    <div id="footfix">
                        <button  ng-disabled="dataLoading || form.$valid==false" type="button" class="btn btn-primary" ng-click="CreateIndianHoldem(this)">Next</button>
                        <button  type="button" class="btn btn-primary" ng-click="CancelDlg()">{{lang.dic.close}}</button>
                    </div>

                </form>

            </div>

            <!-- EdtGame -->
            <div ng-switch-when=1>
                <div class="alert alert-success" role="alert" >{{lang.indianHGame.gamehow4}}</div>
                <div class="alert alert-success" role="alert" >{{lang.indianHGame.gamehow5}}</div>
                <div class="alert alert-danger" role="alert" ng-if="isShareGame == false" >{{lang.indianHGame.gamehow6}}</div>
                <div >
                    <img id="gameCardIcon" ng-src="/img/carddeck/images/{{preGameData.comcard1}}.png" />
                    <img id="gameCardIcon" ng-src="/img/carddeck/images/{{preGameData.comcard2}}.png" />
                    <img id="gameCardIcon" ng-src="/img/carddeck/images/{{preGameData.cratorcard}}.png"  style="margin-left: 30px"  />
                </div>
                <div style="float: left;clear: both">{{lang.indianHGame.commcard}}</div><div style="margin-left: 140px">{{lang.indianHGame.mycard}}</div>

                <form role="form">
                    <div class="form-group" >
                        <div class="input-group">
                            <span >{{lang.indianHGame.action}}></span>
                            <label>
                                <input type="radio" ng-model="lhand.name" value="0" checked="checked"/>
                                Half
                            </label>
                            <label>
                                <input type="radio" ng-model="lhand.name" value="1" />
                                Call
                            </label>
                            <label>
                                <input type="radio" ng-model="lhand.name" value="2"/>
                                Double
                            </label>
                        </div>
                    </div>
                    <div id="footfix">
                        <button  ng-disabled="dataLoading" type="button" class="btn btn-primary" ng-click="CloseDlg(this)">{{lang.dic.createGame}}</button>
                    </div>
                </form>
            </div>


            <!-- JoinGame -->
            <div ng-switch-when=2>
                <div ng-if="resultShow==false" class="alert alert-success" role="alert" >
                    <p>{{lang.indianHGame.gamehow7}}</p>
                    <p>{{lang.indianHGame.gamehow8}}</p>
                    <p>{{lang.indianHGame.gamehow9}}</p>
                </div>
                <div >
                    <img id="gameCardIcon" ng-src="/img/carddeck/images/{{preGameData.comcard1}}.png" />
                    <img id="gameCardIcon" ng-src="/img/carddeck/images/{{preGameData.comcard2}}.png" />
                    <img id="gameCardIcon" ng-src="/img/carddeck/images/{{preGameData.cratorcard}}.png"  style="margin-left: 30px"  />
                </div>
                <div style="float: left;clear: both">{{lang.indianHGame.commcard}}</div><div style="margin-left: 140px">{{lang.indianHGame.enemycard}}</div>

                <form name="form">
                    <div class="form-group" ng-if="resultShow==false">
                        <div class="input-group">
                            <span >{{lang.indianHGame.action}}></span>
                            <label>
                                <input type="radio" ng-model="rhand.name" value="0" checked="checked"/>
                                Half
                            </label>
                            <label>
                                <input type="radio" ng-model="rhand.name" value="1" >
                                Call
                            </label>
                            <label>
                                <input type="radio" ng-model="rhand.name" value="2" >
                                Fold
                            </label>
                        </div>
                    </div>

                    <div class="form-group" >
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">{{lang.commGame.vsmsg}}</span>
                            <input name='gamememo2' type="text" class="form-control" placeholder="{{lang.api.required}}" aria-describedby="basic-addon1" ng-model="gamememo2" required>
                        </div>
                    </div>

                    <div id="footfix">
                        <button ng-disabled="form.$valid==false || dataLoading" type="button" class="btn btn-primary" ng-click="CloseDlg(this)">{{lang.dic.progressGame}}</button>
                        <button type="button" class="btn btn-primary" ng-click="CancelDlg()">{{lang.dic.close}}</button>
                    </div>

                </form>
            </div>

            <div ng-if="resultShow" id="gameResult" ng-if="resultShow">
                <img id="gameCardIcon" ng-src="/img/carddeck/images/{{resultRight}}.png" />
                ({{lang.indianHGame.mycard}})
                <div class="alert alert-success" role="alert" >{{lang.indianHGame.enemyhand}}:{{result_left}} {{lang.indianHGame.myhand}}:{{result_right}}</div>
                <div class="alert alert-danger" role="alert" >{{resultMsg}}</div>
            </div>

        </div>

        <img  ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

    </div>
</div>







